* {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#main {
    width: 100%;
}

#loader {
    /* display: none; */
    /* visibility: hidden; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    color: #fff;
    background-color: #111;
}

#loader #topheading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#topheading h5 {
    text-align: center;
    font-weight: 300;
    font-size: 1vw;
}

#loader h1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: 500;
}

#loader h1 .surname {
    font-family: "Lucida Calligraphy";
    color: #14CF93;
    font-weight: 400;
}

.reveal .parent {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-y: hidden;
}

.reveal .parent .child {
    display: block;
}

.reveal .parent .child span {
    display: inline-block;
}

#green {
    /* display: none; */
    /* visibility: hidden; */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    background-color: #14CF93;
}

#home {
    width: 100%;
    height: 190vh;
    background-color: #f0f0f0;
}

#home #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 6.5vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

#nav a {
    font-family: cursive;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 300;
    color: black;
    z-index: 11;
    margin-top: 2vw;
}

#nav a .line {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 1px;
    background-color: black;
}

#line1 {
    left: 0;
    width: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition-delay: 0.1s;
}

#line2 {
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav a:hover #line1 {
    width: 100%;
}

#nav a:hover #line2 {
    width: 0%;
}

.row {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333;
    padding: 0 7vw;
    padding-right: 16vw;
    line-height: 1;
}

.row h1 {
    font-size: 11.4vw;
    font-weight: 500;
}

.row .text {
    margin-top: 0vw;
}

.row h5 {
    opacity: 0.5;
    font-size: 1vw;
    font-weight: 600;
}

/* .row:nth-child(3) {
    margin-top: 0;
} */

.row .arrow {
    height: 5vw;
    margin-top: 3vw;
}

.row .web {
    height: 10vw;
    margin: 1vw 4vw;
    filter: invert(48%) sepia(98%) saturate(660%) hue-rotate(117deg) brightness(91%) contrast(90%);
}

#imagery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6vw 7vw;
    margin-top: 15vw;
}

#imagery #imgleft {
    width: 40%;
    height: auto;
}

#imgleft h1 {
    font-size: 2.5vw;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #333;
    font-family: sans-serif;
}

#imgleft h1 span {
    color: #14CF93;
    font-style: italic;
    font-weight: 800;
    font-size: 3.5vw;
    font-family: "Bradley Hand ITC";
}

#imgright {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    height: 300px;
    /* margin: 100vh 0; */
    /* Add vertical space for scrolling */
}

#imgright .imgcntnr {
    position: absolute;
    width: 27vw;
    height: 40vw;
    border-radius: 1vw;
    filter: grayscale();
    transition: transform 1.2s ease-out, filter 1.2s ease-out;
}

#imgright .imgcntnr:hover {
    filter: grayscale(0);
}

#imgright .imgcntnr:nth-child(1) {
    z-index: 3;
    background-image: url(./pexels-michelangelo-buonarroti-8728382.jpg);
    background-size: cover;
    background-position: left;
}

#imgright .imgcntnr:nth-child(2) {
    z-index: 2;
    background-image: url(./pexels-renan-almeida-3218109-19302811.jpg);
    background-size: cover;
    background-position: left;
}

#imgright .imgcntnr:nth-child(3) {
    z-index: 1;
    background-image: url(./rahul-mishra-XXMA-8fBB-g-unsplash.jpg);
    background-size: cover;
    background-position: left;
}

/* Default transforms */
#imgright[data-state="tilted"] .imgcntnr:nth-child(3) {
    transform: translate(-20%, -8%) rotate(-10deg);
}

#imgright[data-state="tilted"] .imgcntnr:nth-child(2) {
    transform: translate(10%, 5%) rotate(-5deg);
}

#imgright[data-state="tilted"] .imgcntnr:nth-child(1) {
    transform: translate(40%, 15%) rotate(0deg);
}

/* Straightened transforms with ladder effect */
#imgright[data-state="straight"] .imgcntnr:nth-child(3) {
    transform: translate(-15%, 0%) rotate(0deg);
}

#imgright[data-state="straight"] .imgcntnr:nth-child(2) {
    transform: translate(0%, 5%) rotate(0deg);
}

#imgright[data-state="straight"] .imgcntnr:nth-child(1) {
    transform: translate(15%, 10%) rotate(0deg);
}

#work {
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-color: #e4e2e2;
    z-index: -1;
    padding-top: 15vw;
}

#work::before {
    top: -7vw;
    content: "";
    position: absolute;
    width: 100%;
    height: 11vw;
    transform: rotate(-180deg);
    background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
    background-size: cover;
}

#work .workrow {
    padding: 6vw 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workrow h1 {
    font-family: sans-serif;
    font-size: 8vw;
    font-weight: 300;
    color: #333;
}

.italic-text {
    color: #14CF93;
    font-style: italic;
}

.o-ui-arrow {
    transform: rotate(90deg);
}

#images {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 6vw;
    flex-wrap: wrap !important;
    padding-top: 6vw;
    position: relative;
    width: 100%;
    padding: 0 5vw;
    /* background-color: #f27272; */
    padding-bottom: 6vw;

}


.cnt {
    overflow: hidden;
    border-radius: 50px;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.cnt h1 {
    position: absolute;
    font-family: "Lucida Calligraphy";
    font-size: 2vw;
    font-weight: 300;
    font-style: italic;
    bottom: 20%;
    left: 5%;
    color: black;
    border-radius: 50px;
    background-color: white;
    padding: 1vw 2vw;
    z-index: 3;
}

.cnt img {
    transition: filter cubic-bezier(0.19, 1, 0.22, 1) 2s;
    width: 105%;
}

.cnt1 {
    width: 40vw;
}

.cnt2 {
    width: 25vw;
}

.cnt3 {
    width: 25vw;
}

.cnt4 {
    width: 30vw;
}

#cursor {
    position: fixed;
    width: 17vw;
    top: 0;
    left: 0;
    z-index: 999999999;
}

#cursor>div {
    pointer-events: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    opacity: 0;
    position: absolute;
}

.elem {
    width: 100%;
    position: relative;
}

#cursor .crow {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0.7vw;
}

.crow .ccircle {
    width: 2vw;
    height: 2vw;
    border: 2px solid #fff;
    border-radius: 50%;
}

.crow .ccapsule {
    padding: 0.7vw 3vw;
    border-radius: 100px;
    background-color: #fff;
}

.elem img {
    width: 100%;
    opacity: 0;
    animation: an 4s linear infinite;
    position: absolute;
}

.elem img:nth-child(2) {
    animation-delay: 1s;
}

.elem img:nth-child(3) {
    animation-delay: 2s;
}

.elem img:nth-child(4) {
    animation-delay: 3s;
}

.elem img:nth-child(5) {
    animation-delay: 4s;
}

@keyframes an {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


#skillss h1 {
    padding: 3vw 12vw;
    font-family: sans-serif;
    font-size: 8vw;
    font-weight: 300;
    color: #333;
}

#skillss h1 span {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #14CF93;
}

/* .skills-container {
    position: relative;
    display: flex;
    padding: 3vw 12vw;
    gap: 10vw;
    margin-bottom: 6vw;
} */

.skills-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3vw 12vw;
    gap: 10vw;
    margin-bottom: 6vw;
}

.skill-container-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .skill-container-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
} */

.skill-container-right {
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
    position: relative;
    /* justify-content: center; */
}

/* 
.skill-container-right {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
    position: relative;
    justify-content: center;
} */
/* 
.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blobAnimation 3s linear infinite;
    z-index: -5;
    width: 25vw;
} */

/* @keyframes blobAnimation {
    50% {
        top: 54%;
        left: 46%;
    }
} */

.skills-logo {
    width: 17vw;
    height: 12vw;
    transition: all 0.5s;
    background-color: rgb(230, 223, 223);
    padding: 3vw 6vw;
    border-radius: 1.5vw;
}

/* .skills-logo {
    width: 5vw;
    height: 5vw;
    transition: all 0.5s;
} */

.skills-logo:hover {
    box-shadow: inset 0 0 4vw rgba(20, 9, 47, 0.6);
    transition: all 0.5s;
    transform: scale(1.1);
    background-color: #dcd7eb;
}

.skill-heading {
    font-size: 3.5vw;
    color: black;
    line-height: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.caps {
    color: black;
    font-size: 1.4vw;
    font-style: normal;
    text-align: justify;
    line-height: 1.6vw;
    width: 85%;
}

.bigM {
    font-size: 8vw;
    color: red;
}

.skill-subHeading {
    margin-top: 1vw;
    width: 85%;
    text-align: justify;
    line-height: 1.6vw;
    font-style: italic;
}

.skill-subHeading p {
    font-size: 1.4vw;
    margin: 1vw 0;
    color: red;
}



#footer {
    position: relative;
    height: 127vh;
    background-color: #253B39;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    background-image: url(./circle2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#footer h1 {
    color: #e4e2e2;
    padding-top: 6vw;
    width: 55%;
    font-size: 6vw;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 6vw;
}

#footer button {
    width: 50%;
    font-size: 2vw;
    position: relative;
    padding: 2vw 4vw;
    color: #e4e2e2;
    background-color: #253B39;
    border: 2px solid white;
    border-radius: 5vw;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;

}

#footer button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 0;
}

#footer button:hover::before {
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%) scale(1);
}

#footer button:hover {
    color: #000;
}

#footer button>span {
    position: relative;
    z-index: 1;
}

#social-media {
    display: flex;
    gap: 16vw;
    margin-top: 6vw;
}

.social {
    display: flex;
    align-items: center;
    border-top: 2px solid white;
    padding: 2vw 2vw;
    gap: 4vw;
    transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    cursor: pointer;
}


.social:hover {
    background-color: #14CF93;
}

#social-media a {
    text-decoration: none;
}

.social h2 {
    font-size: 1.6vw;
    font-family: monospace;
    color: white;
}

.social i {
    font-size: 1.2vw;
    border-radius: 50%;
    padding: 0.5vw 0.5vw;
    background-color: white;
    color: black;
}

#copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline;
}

#copyright p {
    font-family: sans-serif;
    font-size: 1.1vw;
}


.payment {
    position: absolute;
    width: 60vw;
    height: 25vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    display: none;
    flex-direction: column;
    padding: 10px 50px;
    -webkit-box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
    box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
    z-index: 20;
    padding-top: 3.5vw;
}

label {
    font-size: 1vw;
    font-weight: 300;
}

.payInput {
    font-size: 1vw;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1vw;
    margin: 1vw 0vw;
}

.payInput::placeholder {
    color: rgb(100, 100, 100);
}


#footer .sendBtn {
    width: 100%;
    height: 1vw;
    position: absolute;
    bottom: -2vw;
    left: 0;
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
    box-shadow: 2px 2px 27px 3px rgba(0, 0, 0, 0.81);
}

#footer .sendBtn span {
    font-size: 2vw;
    bottom: 1vw;
}

.close {
    position: absolute;
    padding: 0.2vw;
    width: 2vw;
    height: 2vw;
    background-color: gray;
    color: white;
    top: 1vw;
    right: 1vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1vw;
}


.navbar {
    background-color: #f0f0f0;
    color: white;
    padding: 15px 20px;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.hamburger {
    font-size: 4vw;
    cursor: pointer;
    display: none;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #ddd;
}


@media (max-width:1000px) {
    #home {
        height: 70vh;
    }

    #footer {
        height: 55vh;
    }
}

@media (max-width:769px) {

    #home {
        height: 140vh;
    }

    #home #nav {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        display: none;
        gap: 0;
        z-index: 30;
    }

    .nav-links.active {
        display: flex;
        animation: slideDown 0.3s ease;
    }

    .nav-links li {
        padding: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    #imagery {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin-top: 8vw;
        gap: 22vw;
    }

    #imagery #imgleft {
        width: 80%;
    }

    #imgleft h1 {
        text-align: center;
        font-size: 4vw;
    }

    #imgleft h1 br {
        display: none;
    }

    #imgright {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 60%;
        height: 250px;
        /* margin: 100vh 0; */
        /* Add vertical space for scrolling */
    }

    #imgright .imgcntnr {
        width: 40vw;
        height: 60vw;
    }

    #work::before {
        background-image: none;
    }

    #work .workrow {
        padding: 12vw 12vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .workrow h1 {
        font-family: sans-serif;
        font-size: 8vw;
        font-weight: 300;
        color: #333;
    }

    #images .cnt {
        width: 50%;
    }

    #images .cnt1 {
        margin-right: 25vw;
    }

    #images .cnt2 {
        margin-left: 25vw;
    }

    #images .cnt3 {
        margin-right: 25vw;
    }

    #images .cnt4 {
        margin-left: 25vw;
    }


    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .skill-container-left br {
        display: none;
    }

    .skill-container-left {
        width: 90vw;
        display: flex;
        align-items: center;
    }

    .skill-container-left p {
        font-size: 3vw;
        line-height: 4vw;
    }

    .caps {
        font-size: 3vw;
    }

    .bigM {
        font-size: 10vw;
    }

    .skill-container-right {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        gap: 12.5vw;
        position: relative;
        justify-content: center;
    }

    #footer {
        height: 60vh;
    }

    #footer button {
        width: 80%;
        font-size: 6vw;
        padding: 4vw 4vw;
    }

    #social-media {
        gap: 12vw;
    }

    .social h2 {
        font-size: 2.6vw;
    }

    .social i {
        font-size: 1.8vw;
    }

    .payment {
        width: 80vw;
        height: 40vh;
    }

    label {
        font-size: 4vw;
    }

    .payInput {
        font-size: 3vw;
        margin: 1.6vw 0vw;
    }

    #footer .sendBtn {
        width: 100%;
        height: 1vw;
        position: absolute;
        bottom: -2vw;
    }

    #footer .sendBtn span {
        font-size: 4vw;
        bottom: 4vw;
    }

    #copyright {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: underline;
    }

    #copyright p {
        font-size: 2vw;
    }
}

@media (max-width:540px) {
    #home {
        height: 150vh;
    }

    #footer {
        height: 60vh;
    }

}

@media (max-width:450px) {
    #home {
        height: 80vh;
    }

    #imagery {
        height: 50vh;
    }

    #footer {
        height: 40vh;
    }

    .payment {
        width: 80vw;
        height: 30vh;
    }
}

@media (max-width:400px) {
    #home {
        height: 90vh;
    }

    #imagery {
        height: 50vh;
    }

    #footer {
        height: 40vh;
    }
}

@media (max-width:350px) {
    #home {
        height: 80vh;
    }

    #imagery {
        height: 50vh;
    }

    #footer {
        height: 30vh;
    }
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}